/*Nullification*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	background-color: #212121;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	scroll-behavior: smooth;
}

h1 {
	font-size: 40px;
	line-height: 1;
	
}

ul {
	list-style: none;
}
/* ================ */



.container{
	max-width: 1140px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
.wrapper {	
	min-height: 100vh;
	overflow: hidden;
}

/* ===HEADER=MENU=== */

#navbar {
	overflow: hidden;	
	padding: 15px 10px; /* Large padding which will shrink on scroll (using JS) */
	transition: 0.4s; /* Adds a transition effect when the padding is decreased */
	position: fixed; /* Sticky/fixed navbar */
	width: 100%;
	top: 0; /* At the top */
	z-index: 99;
	margin: 0 auto;
 }
 .header__burger {
	display: none;
}
 .navbar-right {
	float: right;
	
 }
.header__body{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#logo {
	transition: .8s ease;
	position: relative;
	z-index: 3;
}
.header__menu {	
	
}
#menu {
	padding-top: 10px;
	display: flex;
	transition: .5s ease;
	
}
.header__list li{
	align-items: center;
}
.header__list a {
	color: #fff;
	font-size: 12px;
	font-family: 'Montserrat',sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	padding-left: 15px;
	transition: ease 0.3s;
}
.header__list a:hover{
	color: #f9b602;
}

.fa-home {
	padding-right: 10px;
}

/* ===HEADER=SLIDER=== */

.main{
	display: none;
	width: 100%;	
	height: 350px;
	position: relative;
}
.main-text{
	position: absolute;
	text-align: center;	
	color: #fff;
	font-family: 'Montserrat',sans-serif;
	top: 10px;	
}
.main-text h1{
	margin-bottom: 15px;
	line-height: 1.2;
}
.main-text p{
	padding: 0 10px;
}
.main img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(40%);
}
.main-text img {	
	width: 170px;
	object-fit: cover;
	filter: brightness(100%);
	margin-bottom: 60px;
}
.mySlides img {
	vertical-align: middle;  
	filter: brightness(40%);}

/* Slideshow container */
.slideshow-container {
	top: 0;
	max-width: 100%;
	position: relative;
	margin: auto;
	
}
/* Caption text */
.text {
	
	padding: 15px 12px;
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;	
	color: #fff; 
} 
.text h1{
	font-family: 'Montserrat',sans-serif;
	font-size: 50px;
	margin-bottom: 20px;
	animation: move;
	animation-duration: 1s;

}
@keyframes move{
	0%{opacity: 0; margin-bottom: 80px;}
	50%{opacity: .5;}
	100%{opacity: 1;}
	
}
.text p{
	margin-bottom: 100px;	
	font-size: 16px;
	animation-name: move2;
	animation-duration: 1s;
}

@keyframes move2{
	0%{opacity: 0; margin-bottom: 80px;}
	50%{opacity: .5;}
	100%{opacity: 1;}
}
.btn__slide {	
	left: 50%;
	margin-left: -14px;
	position: absolute;
	display: block;
	background: transparent;
	height: 42px;
	width: 28px;
	border-width: 2px;
	border-style: solid;
	border-radius: 20px;
	cursor: pointer;
	color: #fff;
	bottom: 10px;
	text-align: center;
}

.mouse-wheel{
	display: inline-block;
	width: 4px;
	height: 6px;
	background-color: #fff;
	border-radius: 6px;
	animation: scroll 5s ease infinite;

}

@keyframes scroll {
	0% {}
	5% {}
	10% {transform: translateY(-5px);}
	30% {transform: translateY(10px);}
	50% {transform: translateY(-5px);}
	70% {transform: translateY(10px);}
	90% {transform: translateY(0);}
	100% {}
 }

#myBtn{
	animation: toTop 1s ease;
	display: none;
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 20px;
	right: 10px;
	z-index: 99;
	border: none;
	background-color: #404040;
	color: #fff;
	cursor: pointer;
	border-radius: 50%;
	font-size: 18px;
	
}

@keyframes toTop{
	0%{transform: translateX(40px);}
	
}

.dots {
	position: relative;
	bottom: 30px;
 }
 
 .dots .dot {
	height: 10px;
	width: 10px;
	margin: 0 2px;	
	border-radius: 50%;
	display: inline-block;
	-webkit-transition: background-color 0.6s ease;
	transition: background-color 0.6s ease;
 }
 
 .dots .active {
	background-color: var(--primary);
 }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* ===GALLERY=== */
.container1{
	max-width: 960px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}

.gallery__image a img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
} 

.gallery {
	padding-top: 20px;
	margin-bottom: 50px;
	height: auto;
}
.gallery__title {
}

.title  h1{
	color: #404040;
	margin: 0 auto;
	text-align: center;
	font-size: 42px;
	font-family: 'Montserrat',sans-serif;
	margin-top: 50px;
	margin-bottom: 30px;
}

.gallery__card {
	
	float: left;
	width: 20%;
	padding: 0 10px;

}
.gallery__card:last-child{
	margin-right: 0;
}

.gallery__card a img{
	width: 100%;
	
}

.card__title {
	margin-bottom: 20px;
}

.card__title h1{
	text-align:center;
	font-size: 20px;
	color: #404040;
	text-transform: uppercase;
}


.klient {
	margin-top: 50px;
}

.klient__title h1{
	text-align: center;
	font-size: 26px;
	margin-bottom: 20px;
}
.klient__text {
	text-align: center;
}

.klient__button{
	margin-top: 50px;
	margin-bottom: 70px;
	text-align: center;
	
}
.klient__button a:hover{
	background-color: #404040;
}
.klient__button a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #f9b602;
	border-radius: 3px;
	padding: 20px 20px;
	transition: 0.5s ease ;
}

/* ===RECOMM=== */
.recommend {
	padding-top: 5px;
	background-color: #fff;
}

.recommend__title h1{
	padding-top: 30px;
	border-bottom-color: #eaeaea;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 1em;
}

.recommend__firm {
	margin-left: 10px;
	color: #3b3333 ;
	border-bottom-color: #eaeaea;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 1em;
}

.titles {
	margin:20px 0 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

.recommend__firm p a{
	text-decoration: none;
	color: #f9b602;
	transition: ease .5s;
}
.recommend__firm p a:hover{
	color: #3b3333 ;
}

.recommend__firm ul{
	
	margin: 1em 0 1em 1em;
	list-style: inside;
}

/* ===PRICE=== */
.price {
	color: #eaeaea;
	margin-left: 10px;
	padding-top: 25px;
}

.price-list {
	padding-top: 30px;
	border-bottom-color: #3b3333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 1em;
}
.price-list h2{
	margin:20px 0 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}
.price-list ul{
	margin: 1em 0 1em 1em;
	list-style: inside;
}

/* ===VIDEO=== */

.presentation{
	padding-top: 25px;
	padding-bottom: 20px;
	background-color: #fff;
	text-align: center;
}

#video1{
	/* justify-content: center; */
	width: 640px;
	height: 372px;
}


/* ===CONTACT=== */
.contact {
	padding-top: 25px;
	margin-bottom: 50px;
}
.contakt__items {
	display: flex;
	justify-content: center;
}
.contact__adress {
	width: 25%;
}
.contact__adress a{
	text-decoration: none;
	text-decoration: none;
	color: #f9b602;
	transition: ease .5s;
}
.contact__adress a:hover{
	color: #404040;
}
.contact__adress h4,h5{
	margin-bottom: 10px;
}
.contakt__map {
	width: 40%;
}
.contakt__map iframe{
	width: 400px;
	height: 300px;
}
.contakt__map h4{
	margin-bottom: 10px;
}
.contact__form {
	width: 25%;
}
.contact__form h4{
	margin-bottom: 10px;
}

form a{
	margin-top: 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #f9b602;
	border-radius: 3px;
	padding: 10px 10px;
	transition: 0.5s ease ;
}

#fname, #lname{
	width: 90%;
	height: 30px;
}
#subject{
	width: 90%;
	height: 200px;
}

/* ===FOOTER=== */
.footer {	
	height: 50px;
	background-color: #404040;	
}

.footer p{
	margin-left: 10px;
	padding-top: 15px;
	font-size: 14px;
	color: #afafaf;
}
.footer a{
	text-decoration: none;
	color: #afafaf;
}

/* ===@MEDIA=== */

@media (max-width:1024px){
	.contakt__map{
		width: 32%;
	}
	.contakt__map iframe{
		width: 300px;
		height: 250px;
		text-align: center;
	}
	body.lock{
		overflow: hidden;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;		
		z-index: 3;
		float: right;
		
	}
	.header__burger span{
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		height: 3px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}

	.header__burger.active span{
		transform: scale(0);
	}

	.header__burger.active:before{
		transform:rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform:rotate(-45deg);
		bottom: 9px;
	}

	.navbar-right{
		text-align: end;
		position: fixed;
		top: -100%;
		right: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		padding: 70px 10px 20px 10px;
		background-color: #404040;
	}
	.navbar-right.active{
		top: 0;
	}
	#menu {
		display: block;
	}
	.header__list li{
		margin: 0px 0px 20px 0px;
	}
	.header__list a{
		font-size:18px;
	}
	#logo{
		justify-content: center;
	}
}

@media (max-width:990px){
	.contakt__items{
		display: block;
		text-align: center;
	}
	.contact__form {
		width: 100%;		
	}
	.contact__form h4{
		font-size: 30px;
		margin-bottom: 30px;
	}
	.contakt__map {
		width: 100%;
		margin-bottom: 30px;
	}
	.contakt__map h4{
		font-size: 30px;
		margin-bottom: 30px;
	}

	.contakt__map iframe{
		width: 400px;
		height: 300px;
		
	}
	.contact__adress {
		width: 100%;
		margin-bottom: 30px;
	}
	.contact__adress h4{
		font-size: 30px;
	}
	.contact__adress h5{
		font-size: 20px;
	}
	#fname, #lname{
		width: 50%;
		height: 30px;
	}
	#subject{
		width: 50%;
		height: 200px;
	}
}

@media (max-width:890px){
	.text h1{
		font-size: 40px;
		margin-bottom: 5px;
	}
	.text p{
		margin-bottom: 70px;
	}
	.text{
		margin-bottom: 0px;
	}
	.container1{
		justify-content:center;		
	}

	.gallery__card{
		width: 100%;
		display: block;
		padding: 0;
		text-align: center;
	}
	.card__title h1{		
		font-size: 30px;
		margin-top: 10px;
	}
	
	.gallery__card a img{
		width: 50%;
		
		/* position: absolute; */
		top: 0;
		left: 0;
		object-fit: cover;
	} 

	.klient__title h1{
		text-align: center;
		font-size: 26px;
		padding-top: 20px;
	}
 }
@media (max-width:768px){
	.text h1{
		font-size: 45px;
		margin-bottom: 10px;
	}
	.text p{
		padding-bottom: 25px;
	}
	.btn__slide{
		bottom: 0px;
	}
	
	.text p{
		margin-bottom: 10px;	
		font-size: 16px;		
	}
   .title  h1{		
		text-align: center;
		font-size: 42px;
		font-family: 'Montserrat',sans-serif;
		margin-top: 0;
		margin-bottom: 10px;
	}

	#video1{
		width: 640px;
		height: 372px;
	}
}
@media (max-width:720px){
	.text h1{
		font-size: 35px;
	}	
}
@media (max-width:635px){
	.text h1{
		font-size: 30px;
	}
	.text p{
		font-size: 12px;
	}
	.title h1{
		font-size: 35px;
	}
	.card__title h1{
		font-size: 20px;
	}
	.titles{
		font-size: 24px;
	}
	.recommend__firm{
		font-size: 14px;
	}
	.price-list h2{
		font-size: 24px;
	}
	.price-list{
		font-size: 14px;
	}
	.contact h4{
		font-size: 24px;
	}
	.contact h5{
		font-size: 18px;
	}
	.contact{
		font-size: 14px;
	}
	#fname, #lname, #subject{
		width: 70%;	
	}
	#video1{
		width: 500px;		
	}
}

@media (max-width: 575px){
	#logo{
		display: none;
	}
	#navbar{
		height: 50px;
	}
	.main{
		display: block;
	}
	.slideshow-container{
		display: none;
	}
	.btn__slide{
		display: none;
	}
	.text p{
		padding-bottom: 5px;
		margin-bottom: 0;
	}
	#video1{
		width: 350px;		
	}
}